<%= render "shared/header" %>

<%# 商品の概要 %>
<div class="item-show">
  <div class="item-box">
    <h2 class="name">
      <%= @item.name %>
    </h2>
    <div class='item-img-content'>
      <%= image_tag @item.image ,class:"item-box-img" %>
      <% if @item.deal %>
      <div class='sold-out'>
        <span>Sold Out!!</span>
      </div>
      <% end %>
    </div>
    <div class="item-price-box">
      <span class="item-price">
        ¥<%= @item.price %>
      </span>
      <span class="item-postage">
        (税込) 送料込み
      </span>
    </div>

    <% if owner?(@item) %>
    <%= link_to '商品の編集', edit_item_path(@item.id), method: :get, class: "item-red-btn" %>
    <p class='or-text'>or</p>
    <%= link_to '削除', item_path(@item.id), method: :delete, class:'item-destroy' %>
    <% end %>

    <% if available?(@item) %>
    <%= link_to '購入画面に進む', new_item_deal_path(@item.id) ,class:"item-red-btn"%>
    <% end %>

    <div class="item-explain-box">
      <span><%= @item.text %></span>
    </div>
    <table class="detail-table">
      <tbody>
        <tr>
          <th class="detail-item">出品者</th>
          <td class="detail-value"><%= @item.user.nick_name %></td>
        </tr>
        <tr>
          <th class="detail-item">カテゴリー</th>
          <td class="detail-value"><%= @item.category.name %></td>
        </tr>
        <tr>
          <th class="detail-item">商品の状態</th>
          <td class="detail-value"><%= @item.condition.name %></td>
        </tr>
        <tr>
          <th class="detail-item">配送料の負担</th>
          <td class="detail-value"><%= @item.delivery_fee.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送元の地域</th>
          <td class="detail-value"><%= @item.delivery_from.name %></td>
        </tr>
        <tr>
          <th class="detail-item">発送日の目安</th>
          <td class="detail-value"><%= @item.delivery_day.name %></td>
        </tr>
      </tbody>
    </table>
    <div class="option">
      <div class="favorite-btn">
        <%= image_tag "star.png" ,class:"favorite-star-icon" ,width:"20",height:"20"%>
        <span>お気に入り 0</span>
      </div>
      <div class="report-btn">
        <%= image_tag "flag.png" ,class:"report-flag-icon" ,width:"20",height:"20"%>
        <span>不適切な商品の通報</span>
      </div>
    </div>
    <div class="comment-wrapper" id="comment-wrapper">
      <div class="comment-title">コメント・質問</div>
      <% @item.comments.each do |comment| %>
      <div class="comment-block">
        <div class="comment-user">
          <%= comment.user.nick_name %>
          <% if user_signed_in? %>
            <% if comment.user_id == current_user.id %>
              <%= link_to "削除する", item_comment_path(@item.id, comment.id), method: :delete, class:"delete-btn" %>
            <% end %>
          <% end %>
        </div>
        <div class="comment-content">
          <%= comment.text %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <%# /商品の概要 %>

  <% if user_signed_in? %>
  <div class="comment-box">
    <%=  form_with model: @comment, url: item_comments_path(@item.id), local: true do |f| %>
      <%= f.text_area :text, class:"comment-text", id:"comment-text", placeholder:"コメント（200文字まで)", maxlength:"200" %>
      <p class="comment-warn">
        相手のことを考え丁寧なコメントを心がけましょう。
        <br>
        不快な言葉遣いなどは利用制限や退会処分となることがあります。
      </p>
      <%= f.submit "コメントする", class:"comment-btn" %>
    <% end %>
  </div>
  <% end %>
  <div class="links">
    <%= link_to "＜ 前の商品", "#", class: "change-item-btn" %>
    <%= link_to "後ろの商品 ＞", "#", class: "change-item-btn" %>
  </div>
  <%= link_to "カテゴリー名 をもっと見る", "#", class: "another-item" %>
</div>

<%= render "shared/footer" %>